<div class="contenedorInstitucion">
    <div class="header">
        Agregar Institución
    </div>
    <div class="contenido">
        <form>
            <div class="camposInstitucion">
                <div class="item-camposInstitucion">
                    <label class="etiquetas" for="nombre">Nombre de la institucion</label>
                    <input class="textbox" autocomplete="off"
                    type="text" id="nombre">
                </div>
                <div class="botones | item-camposInstitucion">
                    <button
                    type="button">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="conetenedorListar">
    <div class="tituloListarInstitucion | header">
        Listar Institucion
    </div>
    <div class="contenidoListarInstitucion | contenido">
        <div class="contenedorBuscador">
            <input
            id="buscador"
            class="buscador"
            type="search"
            placeholder="BUSCAR ESTUDIANTE">
        </div>
        <div class="contenedorLista">
            <div class="lista">
                <div class="item-lista | grid1"> <span>Nombre Institucion </span> </div>
                <div class="item-lista | grid2"> Alberto Assa </div>
                <div class="item-lista | grid4">
                    <button class="eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
