.item-contenedorCampos
{
    display: grid;
    margin-bottom: 10px;
}
.botones
{
    margin: auto;
    text-align: center;
    .boton
    {
     width: 45%;
    }

    .botonRegistro
    {
        margin-right: 10px;
    }
}


p
{
    margin: 4px 0px;

}
.errorValidacion
{
    color: red;
    font-size: 0.8rem;
}